.EditBtn{
    background-image: url('./edit.svg');
    background-repeat: no-repeat;
    width: 2em;
    height: 2em;
    background-color: white;
    background-position: center;
    background-size: cover;
    outline: none;
    border: none;

    &:hover{
        transition: ease-in-out 0.3s;
        transform: scale(1.2);
    }
}

.ConfirmBtn{
    background-image: url('./confirm.svg');
    background-repeat: no-repeat;
    width: 2em;
    height: 2em;
    background-color: white;
    background-position: center;
    background-size: cover;
    outline: none;
    border: none;

    &:hover{
        transition: ease-in-out 0.3s;
        transform: scale(1.2);
    }
}