.Achievements{

    li{
        list-style-position: inside;
    }

    .input-del-btn{
        margin-left: 1rem;
    }

    input{
        min-width: 12rem;
        max-width: 12rem;
    }

    ul{
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        margin-bottom: 1rem;
    }
}