$primary-color: darkblue;

.Qualifications{

    div{
        display: flex;
        gap: 1rem;
    }
}


div .Qualification{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.Qualification{

    margin-bottom: 2rem;

    .bold{
        font-weight: bold;
    }

    label{
        display: flex;
        flex-direction: column;
    }

    input{
        min-width: 12rem;
        max-width: 12rem;
    }
}