.ProfessionalHistory{

}

.Job{
    h4{
        color: darkblue;
        margin-bottom: 0.5rem;
    }

    .JobDetails{
        margin-bottom: 0.5rem;
    }

    ul{
        margin-bottom: 1rem;
    }

    .btm-btns{
        margin-bottom: 2rem;
    }
}